<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

	<settings>
		<!-- camel-case를 kebab-case로 mapping -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="com.hacademy.nexacrospring.entity"/>		
	</typeAliases>

</configuration>
